#root {
  margin: 0 auto;
  text-align: center;
}

.table td,
.table th {
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-responsive td {
  overflow-x: auto;
}

/* Navbar.css */

.navbar-animated {
  background: linear-gradient(270deg, #b41a227a, #4c5cec44);
}

.nav-link:hover {
  color: #010e0c !important;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
  /* background-color: rgba(22, 123, 211, 0.726); */
  box-shadow: 0 0 20px rgba(9, 57, 161, 0.6);
  border-radius: 5px;
}
/* Navbar.css */

/* css home image */

.card-manhwa {
  transition: all 0.5s ease;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.card-manhwa:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 255, 198, 0.6);
  border: 1px solid rgba(0, 255, 198, 0.4);
}

/* css home image */